body {
    background-color: #faf9f4;
}

.nav-custom {
    font-family: 'Montserrat', sans-serif; /* Define a fonte */
    font-size: 18px; /* Define o tamanho da fonte */
    color: #003f5c;
    font-weight: bold;
    background-color: #ffffff;
  }


